.home {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 25px;
}